body,
html {
  height: 100%;
  margin: 0;
}

.beer-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  background-color: #555555;
  overflow-y: auto;
  overflow-x: hidden;
}
.title {
  text-align: center;
  font-family: sans-serif;
}

.title h1 {
  font-family: sans-serif;
  font-size: 4rem;
  -webkit-text-stroke: 2px #ffcd00;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.title p {
  font-size: 1.3rem;
  font-weight: 550;
  text-align: justify;
  margin-top: 30px;
}

.beer-card {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.beer-card-1,
.beer-card-2,
.beer-card-3,
.beer-card-4,
.beer-card-5,
.beer-card-6 {
  background-size: cover;
  background-position: center;
  background-image: url("");
}

.beer-card-video {
  width: 600px;
  height: 400px;
  position: relative;
}

.beer-card-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.beer-card-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.beer-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.beer-card-text {
  font-size: 1rem;
  margin-top: 10px;
}

/* BARRA DI SCORRIMENTO*/

/*larghezza barra */
::-webkit-scrollbar {
  width: 20px;
}

/* colore sfondo della barra */
::-webkit-scrollbar-track {
  background: #555555;
}

/* colore maniglia della barra di scorrimento */
::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 10px;
  border: 3px solid #ffcd00;
}

/* hover maniglia barra di scorrimento */
::-webkit-scrollbar-thumb:hover {
  background: #ffcd00;
  border: 3px solid #555555;
}
