.container-full-height {
  height: 100vh;
  background-color: white;
}

.row-full-height {
  height: 100%;
}

.main-content {
  height: 100%;
  padding: 1rem;
}

/* Animazione Sidebar */
.sidebar-hidden {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar-visible {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.sidebar {
  height: 100%;
  background-color: #333333;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 1000;
  transition: transform 0.7s ease-in-out;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 10px;
}

/* card dentro la sidebar */

.sidebar-card {
  width: 100%;
  margin-bottom: 10px;
  margin-top: -5px;
  background-color: #444444 !important;
  text-align: center;
}

.sidebar-card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sidebar-card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #333333;
}

.card-title {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #929292;
}

.card-body {
  padding: 10px;
}

.card-text {
  font-size: 1rem;
  color: #6b6b6b;
  font-family: sans-serif;
  font-weight: 500;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
  width: 100%;
}

/* Stile della barra */
.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Riempimento della barra */
.progress-bar-fill {
  position: absolute;
  height: 100%;
  width: 0;
  background: rgb(255, 149, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 149, 0, 1) 0%,
    rgba(255, 205, 0, 1) 100%
  );
  transition: width 2.5s ease-in-out;
  border-radius: 10px 0 0 10px;
}

/* Etichetta della barra */
.progress-bar-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  z-index: 1;
}

/* Donuts */
.donut-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.donut {
  position: relative;
}

.donut-background {
  fill: none;
  stroke: #333333;
  stroke-width: 10;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3))
    drop-shadow(0 -2px 4px rgba(255, 255, 255, 0.2));
}

.donut-progress {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke: url(#gradient); /* Gradiente applicato */
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 2.5s ease;
}

text {
  font-size: 1rem;
  fill: white;
  font-weight: bold;
}
